// Bootstrap
@import '_vars.scss';
@import '_mixins.scss';
@import '_customize-bootstrap.scss';
@import '~bootstrap/scss/bootstrap';

.navbar,
footer {
  svg {
    fill: $gray-100;
  }
}

.hero {
  .author {
    @include author(3.5rem);
  }
  svg {
    fill: $gray-100;
    width: 50%;
  }
  button:hover {
    svg {
      fill: $dark;
    }
  }
  @include media-breakpoint-up(md) {
    p {
      font-size: 1.5rem;
    }
  }
}

.author {
  @include author(2.5rem);
}

main {
  position: relative;
}

.background-strip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 45rem;
}

.subscribe {
  .input-group-lg > .input-group-append > .btn {
    font-size: 0.9rem;
  }
}

.support {
  .card-img-overlay {
    top: auto;
  }
}

.client {
  position: relative;
  .team {
    position: absolute;
    bottom: 5rem;
    right: 0;
    height: 80%;
  }
  .my-custom-input,
  .custom-select,
  .my-custom-textarea {
    border: none;
    border-bottom: 0.001rem solid $gray-100;
    font-size: 1.2rem;
    &:focus {
      outline: none;
      border-bottom-width: 0.5rem;
    }
  }
  .my-custom-textarea {
    min-height: 7rem;
  }
}

footer.container-fluid {
  border-top: 0.001rem solid $gray-100;
  .social {
    svg {
      width: 1.5rem;
      height: 1.5rem;
      fill: $gray-600;
    }
    li {
      align-self: center;
    }
  }
}
