// Bootstrap
@import '_vars.scss';
@import '_mixins.scss';
@import '_customize-bootstrap.scss';
@import '~bootstrap/scss/bootstrap';

.navbar {
  svg {
    fill: $gray-100;
  }
}

.hero {
  .author {
    @include author(3.5rem);
  }
  svg {
    fill: $gray-100;
    width: 50%;
  }
  button:hover {
    svg {
      fill: $dark;
    }
  }
  @include media-breakpoint-up(md) {
    p {
      font-size: 1.5rem;
    }
  }
}

.author {
  @include author(2.5rem);
}

main {
  position: relative;
}

.background-strip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 45rem;
}

.subscribe {
  .input-group-lg > .input-group-append > .btn {
    font-size: 0.9rem;
  }
}
